<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div id="content">
        
        {{- block "main" . }}{{- end }}

    </div>
    <!-- Yandex.RTB R-A-1957258-2 -->

    {{- partial "footer.html" . -}}

    <!--  Additions start here -->

    
    {{ if .Site.Params.Navbar.use }}
    {{- partial "navbar.html" . -}}
    {{ end }}

    <!-- Additions stop here -->

    <!-- Yandex.RTB R-A-1957258-2 -->

</body>

</html>