{{ define "main" }}
<div id="block">
<!-- Yandex.RTB R-A-1957258-2 -->
<div id="yandex_rtb_R-A-1957258-2"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1957258-2',
    blockId: 'R-A-1957258-2'
  })
})</script>
</div>
<meta property="og:title" content="{{.Title}}"/>


    {{ $title := printf "<h1 id='title'>%s</h1><span id='date'>%s</span>" .Title .Date}}
    {{ $title := printf "<span id='terminal'>%s</span>"  $title}}
    



    {{ $content := printf "<span id=''>%s</span>" .Content }}


    {{ $title | safeHTML}}

    {{ $content | safeHTML }}

{{ end }}
