{{ define "main" }}
<div id="block">

    <div id="yandex_rtb_R-A-1957258-2"></div>
    <script>window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1957258-2',
                blockId: 'R-A-1957258-2'
            })
        })</script>
</div>
    {{ $title := printf "<h1 id='title'>%s</h1><span id='date'>%s</span>" .Title .Date}}
    {{ $title := printf "<span id='terminal'>%s</span>"  $title}}
    



    {{ $content := printf "<span id=''>%s</span>" .Content }}


    {{ partial "partials/typeActivity.html" (dict "context" . "title" $title "content" $content "titledelay" $.Site.Params.Terminal.titleDelay "contentdelay" $.Site.Params.Terminal.contentDelay )}}

{{ end }}
