<style>
    h1 {
        /* color: #D08010; */
        color: #23E298;
        line-height: 6vmin;
        font-size: 6vmin;
    }

    
    #block {
        max-height: 350px;
        max-width: 1000px;
    }
    ul ::marker {
        
        content: "\1F480";

    }

    a, strong, ::marker,
    #date {
        color: #D08010;

    }
    table, td{
        border-collapse: collapse;
        border: 2px solid #D08010;
        max-width: 100%;
    }
    td{
        padding: 25px;
    }
    li a {
        font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-size: 1em;
        line-height: 1.56;
    }

    li {
        padding-left: 2%;


    }
    a{
        text-decoration: none;
        font-size: 1em;
    }
    img{
        max-width: 100%;
        max-height: 80vh;
    }
    .navFull {
    background-color: #353535;
    line-height: 150%;
    font-family: "Courier New";
    /* font-size: 17px; */
    display: inline;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
    padding-top: 5px;
    padding: 10px;
    padding-bottom: 0px;
}
/* .navFull a {
    font-size: 1.3vmax;
} */
.navCredits {
    float: right;
    padding-right: 18px;
    padding-bottom: 10px;
    /* padding-top: 10px; */
}
#navigationBlock{

}
#content::after {
    content: "\a\a";
    white-space: pre;
}
    #content {
        font-size: 2.0vmax;
        line-height: 1.56;
        overflow-wrap: break-word;
        font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        color:#BBBBBB;
    }
    
    li p{
        padding-left: 5%;
    }
    #coffee
    {
        background-color: #D08010;
        color: #fff;
        display: block;
        padding: 10px;
        border-width: 2px;
        border-radius: 10px;
    }
    @media only screen and (max-width:500px) {
        #content{
            padding-left: 2%;
        }
        body{
            font-size: 1.2em;
        }
        .navFull{
            line-height: 100%;
        }
    }
</style>
