<style>
    h1 {
        /* color: #D08010; */
        color: #23E298;
        line-height: 6vmin;
        font-size: 6vmin;
    }

    
    #block {
        max-height: 200px;
        max-width: 320px;
    }
    ul ::marker {
        
        content: "\1F480";

    }

    a, strong, ::marker,
    #date {
        color: #D08010;

    }
    table, td{
        border-collapse: collapse;
        border: 2px solid #D08010;
        max-width: 100%;
    }
    td{
        padding: 25px;
    }
    li a {
        font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        font-size: 0.5rem;
        line-height: 1.56;
    }

    li {
        padding-left: 2%;


    }
    a{
        text-decoration: none;
    }
    img{
        max-width: 100%;
    }
    #content {
        font-size: 1em;
        line-height: 1.56;
        overflow-wrap: break-word;
        font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
        color:#BBBBBB;
    }
    
    li p{
        padding-left: 5%;
    }
</style>
